<% extend('../../layout', {title: 'Piscine MERN J-3 - CREATE PRODUCT ADMIN'}) %>

<h2>Créer un produit</h2>

<form class="form-group" method="POST" action="/admin/product/add %>" enctype="multipart/form-data">
    <label for="title">Article : </label>
    <input class="form-control" id="title" name="title" required type="text">

    <label for="price">Prix : </label>
    <input class="form-control" name="price" id="price" type="text" required >

    <div class="form-group">
        <label for="category">Catégorie</label>
        <select multiple class="form-control" name="category" id="category">
            <option></option>
            <% categories.forEach(function(category) { %>
                <option value="<%= category._id %>"><%= category.name %></option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
        <label for="resum">Description</label>
        <textarea class="form-control" id="resum" name="resum" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="file">Image</label>
        <input class="form-control" type="file" id="file" name="file">
    </div>

    <input class="btn btn-primary" type="submit" value="Ajouter">
</form>