<% extend('../layout', {title: 'Piscine MERN J-3 - ADMIN'}) %>

<h2>ADMIN</h2>

<a class="btn btn-primary" href="/admin/user">User</a>
<a class="btn btn-primary" href="/admin/product">Produit</a>
<a class="btn btn-primary" href="/admin/category">Catégorie</a>

