<% extend('../../layout', {title: 'Piscine MERN J-3 - CREATE CATEGORY ADMIN'}) %>

<h2>Créer une catégory </h2>
<form method="post" action="/admin/category/add">
    <div class="form-group">
        <label for="name"> Nom de la catégorie : </label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <input type="submit" class="btn btn-primary" value="Ajouter">
</form>