<% extend('../layout', {title: 'Piscine MERN J-3 - ADMIN'}) %>

<h2>ADMIN</h2>

<a class="btn btn-primary" href="/admin/add/product">Ajouter une article</a>
<a class="btn btn-primary" href="/admin/add/category">Ajouter une catégorie</a>